{% extends "base.html" %}
{% block meta %}
<meta name="title"
      property="og:title"
      content="{{ home['meta']['title'] }}">
<meta name="description"
      property="og:description"
      content="{{ home['meta']['description'] }}">
{% endblock %}
{% block title %}
  {{ home["meta"]["title"] }}
{% endblock %}
{% block content %}
<div>
  <div>
    <div>
      <i class="fas fa-exchange-alt"></i>
      <a href="{{ url_for('en') }}" class="links">
        <img src="{{ url_for('static', filename='images/uk_flag.png')}}"
             alt="Switch to english">
      </a>
    </div>
    <h1>{{ home["hero"]["title"] }}</h1>
    <p>{{ home["hero"]["content"]|safe }}</p>
    <div>
      <a href="{{ url_for('static', filename='images/fr-Jean-Guillet.pdf')}}"
         target="_blank">
        <button>
          <i class="fas fa-id-badge"></i>
          <span>{{ home["socials"]["resume"]["title"] }}</span>
        </button>
      </a>
      <a href="{{ home['socials']['linkedin']['url'] }}"
         target="_blank">
        <button>
          <i class="fab fa-linkedin"></i>
          <span>{{ home["socials"]["linkedin"]["title"] }}</span>
        </button>
      </a>
      <a href="{{ home['socials']['github']['url'] }}"
         target="_blank">
        <button>
          <i class="fab fa-github"></i>
          <span>{{ home["socials"]["github"]["title"] }}</span>
        </button>
      </a>
    </div>
  </div>
</div>
<div>
  <div>
    <div>
      <i class="fas fa-briefcase fa-md"></i>
    </div>
    <h3>{{ home["experiences"]["title"] }}</h3>
    <p>{{ home["experiences"]["content"]|safe }}</p>
  </div>
</div>
<div>
  <div>
    <div>
    <i class="fas fa-pen fa-md"></i>
  </div>
    <h3>{{ home["aspirations"]["title"] }}</h3>
    <p>{{ home["aspirations"]["content"]|safe }}</p>
  </div>
</div>
<div>
  <div>
    <div>
    <i class="fas fa-comment fa-md"></i>
  </div>
    <h3>{{ home["contact"]["title"] }}</h3>
    <p>{{ home["contact"]["content"]|safe }}</p>
  </div>
</div>
<div>
  <div>
    <div>
    <i class="fas fa-code fa-md"></i>
  </div>
    <h3>{{ home["aboutsite"]["title"] }}</h3>
    <p>{{ home["aboutsite"]["content"]|safe }}</p>
  </div>
</div>
<div>
  <p>{{ home["endphrase"] }}</p>
</div>
{% endblock %}
