appdirs==1.4.4
asgiref==3.3.1
Babel==2.3.4
bcrypt==3.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
coverage==5.5
cryptography==2.9.2
debtcollector==2.2.0
deprecation==2.1.0
distlib==0.3.1
Django==3.0.3
django3-all-access==0.10.0
eyed3==0.9.6
filelock==3.0.12
filetype==1.0.7
Flag==0.1.1
flake8==3.9.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
Frozen-Flask==0.18
geographiclib==1.52
geopy==2.2.0
greenlet==1.1.2
gunicorn==19.3.0
idna==2.7
iso3166==1.0.1
iso8601==0.1.11
itsdangerous==1.1.0
Jinja2==2.11.2
keystoneauth1==4.2.1
limits==1.5.1
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.0
mysqlclient==1.4.6
netaddr==0.7.18
netifaces==0.10.9
numpy==1.19.4
oauthlib==3.1.0
os-service-types==1.7.0
oslo.config==5.2.0
oslo.i18n==5.0.1
oslo.serialization==4.0.1
oslo.utils==4.7.0
packaging==20.4
pandas==1.1.4
passwordgenerator==1.4
pbr==5.5.1
pipenv==2020.11.15
portolan==1.0.1
protobuf==3.17.0
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.12.0
pyflakes==2.3.1
pyparsing==2.4.7
pyperclip==1.8.1
python-dateutil==2.8.2
python-dotenv==0.15.0
python-keystoneclient==3.16.0
python-swiftclient==3.7.1
pytz==2021.3
PyYAML==5.3.1
requests==2.19.1
requests-oauthlib==1.3.0
rfc3986==1.4.0
six==1.16.0
soupsieve==2.0.1
SQLAlchemy==1.4.28
sqlparse==0.4.1
stevedore==3.2.2
tabulate==0.8.7
toml==0.10.2
urllib3==1.26.5
virtualenv==20.2.1
virtualenv-clone==0.5.4
Werkzeug==0.16.0
wrapt==1.12.1
WTForms==2.3.3
