[data-theme="dark"] {
  background-color: var(--black);
}

[data-theme="dark"] p {
  color: var(--light-yellow);
}

[data-theme="dark"] h1 {
  color: var(--light-yellow);
}

[data-theme="dark"] h3 {
  color: var(--light-yellow);
}

[data-theme="dark"] a {
  color: var(--light-yellow);
}

[data-theme="dark"] #mainTitle {
  color: var(--light-yellow);
}

[data-theme="dark"] .icons {
  color: var(--main-orange);
}

[data-theme="dark"] .links:hover {
  color: var(--main-orange);
  transition:0.4s;
}

[data-theme="dark"] .btn-outline-primary {
  color: var(--main-orange);
  background-color: transparent;
  background-image: none;
  border-color: var(--main-orange);
}

[data-theme="dark"] .btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--main-orange);
  border-color: var(--main-orange);
}

[data-theme="dark"] ::selection {
  background-color: var(--light-orange-transparent);
}
