[data-theme="dark"] {
  background-color:#000000;
}

[data-theme="dark"] p {
  color: rgb(246,244,230);
}

[data-theme="dark"] h1 {
  color: rgb(246,244,230);
}

[data-theme="dark"] h3 {
  color: rgb(246,244,230);
}

[data-theme="dark"] a {
  color: rgb(246,244,230);
}

[data-theme="dark"] #mainTitle {
  color: rgb(246,244,230);
}

[data-theme="dark"] .icons {
  color: rgb(222,113,25);
}

[data-theme="dark"] .links:hover {
  color: rgb(222,113,25);
  transition:0.4s;
}

[data-theme="dark"] .btn-outline-primary {
  color: rgb(222,113,25);
  background-color: transparent;
  background-image: none;
  border-color: rgb(222,113,25);
}

[data-theme="dark"] .btn-outline-primary:hover {
  color: rgb(255,255,255);
  background-color: rgb(222,113,25);
  border-color: rgb(222,113,25);
}

[data-theme="dark"] ::selection {
  background-color: rgb(168, 140, 118);
}
