@import 'config/colors';

[data-theme="dark"] {
  background-color: black;
}

[data-theme="dark"] p {
  color: $light-yellow;
}

[data-theme="dark"] h1 {
  color: $light-yellow;
}

[data-theme="dark"] h3 {
  color: $light-yellow;
}

[data-theme="dark"] a {
  color: $light-yellow;
}

[data-theme="dark"] #mainTitle {
  color: $light-yellow;
}

[data-theme="dark"] .icons {
  color: $main-orange;
}

[data-theme="dark"] .links:hover {
  color: $main-orange;
  transition:0.4s;
}

[data-theme="dark"] .btn-outline-primary {
  color: $main-orange;
  background-color: transparent;
  background-image: none;
  border-color: $main-orange;
}

[data-theme="dark"] .btn-outline-primary:hover {
  color: white;
  background-color: $main-orange;
  border-color: $main-orange;
}

[data-theme="dark"] ::selection {
  background-color: $light-orange-transparent;
}
