{% extends "base.html" %}
{% block meta %}
<meta name="title" content="Jean Guillet | Product management, design and code">
<meta name="description" content="Hi! I'm Jean Guillet, french business school student, interested in new technologies, and product management. I recently thought I'd put up this simple website to tell a little bit more about me.">
{% endblock %}
{% block title %}
Jean Guillet - Product management, design and code - Rennes (FR)
{% endblock %}
{% block content %}
<div class="row">
    <div class="col pb-5">
        <p><a href="{{ url_for('fr') }}" class="links">FR</a></p>
        <h1 class="catch-phrase">Hi! I'm a french <a href="https://grenoble-em.com" target="_blank" class="links">business school</a> student, interested in new technologies, and product management.</h1>
        <p>I'm currently spending my last year of master abroad, in <a href="https://www.mcgill.ca/" target="_blank" class="links">McGill University</a> 🇨🇦.
           In my spare time, I take <a href="https://jeanguillet.photo" target="_blank" class='links'>photos</a>, do video editing, and code stuff in Python.
           I recently thought I'd put up this simple website to tell a little bit more about me.</p>
        <div class="pb-3 d-flex">
            <a href="{{ url_for('static', filename='images/EN_CV_Jean_Guillet.pdf')}}" target="_blank">
                <button class="mr-2 btn btn-outline-primary"><i class="fas fa-id-badge pr-2"></i>My résumé</button>
            </a>
            <a href="https://github.com/John35961" target="_blank">
                <button class="mr-2 btn btn-outline-primary"><i class="fab fa-github pr-2"></i>My Github</button>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col pb-3">
        <div style="font-size: 24px;" class="d-inline">
            <i class="icons fas fa-briefcase fa-md"></i>
        </div>
        <h3 class="d-inline p-2">My past experiences?</h3>
        <p class="pt-3">I was a <b>Product intern</b> at <a href="https://www.mytraffic.io/" target="_blank" class="links">MyTraffic</a> from January to July 2019, 
            where I took part in the development of a new location intelligence SaaS, and also helped releasing <a href="https://www.monlocalcommercial.fr/" target="_blank" class="links">MonLocalCommercial.fr</a>.
            In the meantime, I started using Python for scraping and scripting purposes, and got to play with <a href="https://adresse.data.gouv.fr/api" target="_blank" class="links">geocoding REST APIs</a>.<br />
            I also worked as a <b>CRM and Merchandising intern</b> at <a href="https://www.manomano.fr/" target="_blank" class="links">ManoMano</a> 
            from June to November 2018. There, I learnt to create targeted emailing campaigns, built HTML emails 
            with <a href="https://dartagnan.io/fr" target="_blank" class="links">Dartagnan.io</a>, and monitoring dashboards 
            with SQL and <a href="https://metabase.com/" target="_blank" class="links">Metabase</a>.<br />
            Before that, I worked for 3 months as a motion design intern for <a href="https://www.targetfirst.com/" target="_blank" class="links">TargetFirst</a>, and a marketing intern at <a href="https://www.galbani.fr/" target="_blank" class="links">Galbani</a>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col pb-3">          
        <div style="font-size: 24px;" class="d-inline">
        <i class="icons fas fa-pen fa-md"></i>
    </div>
        <h3 class="d-inline p-2">What do I like to work on?</h3>
        <p class="pt-3">
            I enjoy working on web products with marketers, developers and designers, 
            discussing UX/UI issues, 
            automating stuff with APIs and scripts to work smarter,
            projects that enable me to learn new tools, and eventually code by myself. <br />
            At the moment I'm working on a personal Flask side project called <a href="http://yaws.me" target="_blank" class="links">yaws.me</a>, a simple and minimalist weather service relying on several REST APIs.
        </p>
    </div>
</div>
<div class="row">
    <div class="col pb-3">          
        <div style="font-size: 24px;" class="d-inline">
        <i class="icons fas fa-comment fa-md"></i>
    </div>
        <h3 class="d-inline p-2">Want to reach out to me?</h3>
        <p class="pt-3">You can email me at <a href="mailto:jean.guillet@grenoble-em.com?subject=Hello Jean!" class="links">jean.guillet@grenoble-em.com</a>.<br />
            Also I'm on <a href="https://www.linkedin.com/in/jean-guillet-4053a411b/?locale=en_US" target="_blank" class="links">LinkedIn</a>, 
            <a href="https://www.instagram.com/jeanguillet/" target="_blank" class="links">Instagram</a>, 
            <a href="https://www.flickr.com/photos/john35961/" target="_blank" class="links">Flickr</a> and
            <a href="https://www.facebook.com/jean.guillet.33" target="_blank" class="links">Facebook</a>.
            </p>
    </div>
</div>
<div class="row">
    <div class="col pb-5">          
        <div style="font-size: 24px;" class="d-inline">
        <i class="icons fas fa-code fa-md"></i>
    </div>
        <h3 class="d-inline p-2">How did I code this website?</h3>
        <p class="pt-3">This static website is built using Python, <a href="https://flask.palletsprojects.com/en/1.0.x/" target="_blank" class="links">Flask</a> 
        and <a href="https://getbootstrap.com/" target="_blank" class="links">Bootstrap</a>. 
        It was made static thanks to <a href="https://pythonhosted.org/Frozen-Flask/" target="_blank" class="links">Frozen-Flask</a>, and I make the deploys to <a href="https://www.netlify.com/" target="_blank" class="links">Netlify servers</a>. 
        Coming from a commercial background, this project made it possible 
        for me to play with several web technologies, and push my web development skills further.<br />
        As a matter of facts, I believe that even non-tech profiles should have a good technical understanding of their environment. You feel the same? Great, <a href="mailto:jean.guillet@grenoble-em.com?subject=Hello Jean!" class="links">Let's talk about it</a>!</p>
    </div>
</div>
<div class="row">
    <p class="pt-3 mx-auto">That's all folks ;)</p>
</div>
{% endblock %}
