{% extends "base.html" %}
{% block meta %}
<meta name="title"
      property="og:title"
      content="{{ yml['meta']['title'] }}">
<meta name="description"
      property="og:description"
      content="{{ yml['meta']['description'] }}">
{% endblock %}
{% block title %}
  {{ yml["meta"]["title"] }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col pb-5">
    <div class="d-flex align-items-center mb-3">
      <i class="icons fas fa-exchange-alt pr-2"></i>
      <a href="{{ url_for('fr') }}" class="links">
        <img src="{{ url_for('static', filename='images/fr_flag.png')}}"
             alt="Switch to french"
             class="country-flag">
      </a>
    </div>
    <h1 class="catch-phrase">{{ yml["hero"]["title"] }}</h1>
    <p>{{ yml["hero"]["content"]|safe }}</p>
    <div class="pb-3 d-flex align-content-start flex-wrap">
      <a class="pt-3"
         href="{{ url_for('static', filename='images/EN_CV_Jean_Guillet.pdf')}}"
         target="_blank">
        <button class="mr-2 btn btn-outline-primary">
          <i class="fas fa-id-badge pr-2"></i>
          <span>{{ yml["socials"]["resume"]["title"] }}</span>
        </button>
      </a>
      <a class="pt-3"
         href="{{ yml['socials']['linkedin']['url'] }}"
         target="_blank">
        <button class="mr-2 btn btn-outline-primary">
          <i class="fab fa-linkedin pr-2"></i>
          <span>{{ yml["socials"]["linkedin"]["title"] }}</span>
        </button>
      </a>
      <a class="pt-3"
         href="{{ yml['socials']['github']['url'] }}"
         target="_blank">
        <button class="mr-2 btn btn-outline-primary">
          <i class="fab fa-github pr-2"></i>
          <span>{{ yml["socials"]["github"]["title"] }}</span>
        </button>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <div style="font-size: 24px;" class="d-inline">
      <i class="icons fas fa-briefcase fa-md"></i>
    </div>
    <h3 class="d-inline p-2">{{ yml["experiences"]["title"] }}</h3>
    <p class="pt-3">{{ yml["experiences"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <div style="font-size: 24px;" class="d-inline">
    <i class="icons fas fa-pen fa-md"></i>
  </div>
    <h3 class="d-inline p-2">{{ yml["aspirations"]["title"] }}</h3>
    <p class="pt-3">{{ yml["aspirations"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <div style="font-size: 24px;" class="d-inline">
    <i class="icons fas fa-comment fa-md"></i>
  </div>
    <h3 class="d-inline p-2">{{ yml["contact"]["title"] }}</h3>
    <p class="pt-3">{{ yml["contact"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <div class="col pb-5">
    <div style="font-size: 24px;" class="d-inline">
    <i class="icons fas fa-code fa-md"></i>
  </div>
    <h3 class="d-inline p-2">{{ yml["aboutsite"]["title"] }}</h3>
    <p class="pt-3">{{ yml["aboutsite"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <p class="pt-3 mx-auto">{{ yml["endphrase"] }}</p>
</div>
{% endblock %}
