{% extends "base.html" %}
{% block meta %}
  <meta name="title" property="og:title" content="{{ yml['meta']['title'] }}">
  <meta name="description" property="og:description" content="{{ yml['meta']['description'] }}">
{% endblock %}
{% block title %}
 {{ yml["meta"]["title"] }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col pb-5">
    <div class="d-flex align-items-center mb-3">
      <i class="icons fas fa-exchange-alt pr-2"></i>
      <a href="{{ url_for('en') }}" class="links">
        <img src="{{ url_for('static', filename='images/uk_flag.png')}}" alt="Switch to english" class="country-flag">
      </a>
    </div>
    <h1 class="catch-phrase">{{ yml["hero"]["title"] }}</h1>
    <p>{{ yml["hero"]["content"]|safe }}</p>
    <div class="pb-3 d-flex align-content-start flex-wrap">
      <a class="pt-3" href="{{ url_for('static', filename='images/FR_CV_Jean_Guillet.pdf')}}" target="_blank">
        <button class="mr-2 btn btn-outline-primary"><i class="fas fa-id-badge pr-2"></i>Mon CV</button>
      </a>
      <a class="pt-3" href="https://www.linkedin.com/in/jean-guillet-4053a411b/?locale=fr_FR" target="_blank">
        <button class="mr-2 btn btn-outline-primary"><i class="fab fa-linkedin pr-2"></i>Mon LinkedIn</button>
      </a>
      <a class="pt-3" href="https://github.com/John35961" target="_blank">
        <button class="mr-2 btn btn-outline-primary"><i class="fab fa-github pr-2"></i>Mon Github</button>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <div style="font-size: 24px;" class="d-inline">
      <i class="icons fas fa-briefcase fa-md"></i>
    </div>
    <h3 class="d-inline p-2">{{ yml["experiences"]["title"] }}</h3>
    <p class="pt-3">{{ yml["experiences"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <div style="font-size: 24px;" class="d-inline">
    <i class="icons fas fa-pen fa-md"></i>
  </div>
    <h3 class="d-inline p-2">{{ yml["aspirations"]["title"] }}</h3>
    <p class="pt-3">{{ yml["aspirations"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <div style="font-size: 24px;" class="d-inline">
    <i class="icons fas fa-comment fa-md"></i>
  </div>
    <h3 class="d-inline p-2">{{ yml["contact"]["title"] }}</h3>
    <p class="pt-3">{{ yml["contact"]["content"]|safe }}</p>
  </div>
</div>
<div class="row">
  <div class="col pb-5">
    <div style="font-size: 24px;" class="d-inline">
    <i class="icons fas fa-code fa-md"></i>
  </div>
    <h3 class="d-inline p-2">{{ yml["aboutsite"]["title"] }}</h3>
    <p class="pt-3"> {{ yml["aboutsite"]["content"]|safe }} </p>
  </div>
</div>
<div class="row">
  <p class="pt-3 mx-auto"> {{ yml["endphrase"] }} </p>
</div>
{% endblock %}
